EfficientTAM
**/build
**/install
**/log
images
*.npz
temp_video_frames
segment-anything-2-real-time
RGBDPlaneDetection
__pycache__
*.mp4
.vscode
lidar_drivers/
*.zip
*.bin
*.csv
*.png
*.out
whls
*.pdf